.body-background {
    background: url(../image/background.png);
    background-size: 100%;
}

.container {
    width: 1027px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.header-logo {
    display: flex;
}

a.header-logo-link {
    width: 53px;
    height: 47px;
    color: #FFFFFF;
    display: block;
    background: url(../image/logo3.svg);
}

a.header-logo-link:hover {
    color: #F26522;
    background-image: url(../image/logo2.svg);
}

.header-logo-text {
    text-transform: uppercase;
    padding-left: 54px;
}

.header-logo-text-top {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.header-logo-text-bot {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-top: 3px;
}

.header-contacts {
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header-contacts-number {
    text-align: end;
    padding-top: 19px;
    color: #FFFFFF;
}

.header-contacts-email {
    color: #FFFFFF;
}

.header-contacts-number:hover {
    color: #F26522;
}

.header-contacts-email:hover {
    color: #F26522;
}

.main-menu-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main-menu-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.main-menu-block {
    position: relative;
    color: #FFFFFF;
}

.main-menu-block-hover {
    position: absolute;
    bottom: 45px;
    width: 300px;
    height: 0px;
    background: #F26522;
    opacity: 0;
    justify-content: space-between;
}

a.main-menu-block:hover div.main-menu-block-hover {
    display: flex;
    opacity: 1;
    height: 55px;
    transition-property: height;
    transition-duration: 1s;
}

a.main-menu-block:hover p.main-menu-text {
    color: #F26522;
}

.main-menu-image {
    width: 300px;
    height: 220px;
    padding-bottom: 20px;
}

.main-menu-text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.main-menu-block-details {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 65px;
    padding-right: 20px;
}

.main-menu-block-details::after {
    background: url(../image/Vector.png);
    padding-left: 15px;
    padding-top: 3px;
}

.main-menu-block-form {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.main-menu-block-price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-left: 16px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 49px;
}
