:root {
    --color1: #634F2C;
    --color2: #B4A385;
    --color3: #E5E5E5;
    /*border color*/
    --color4: #E4B564;
    --color5: #635A4A;
    --color6: #B08C4D;
    --color7: #0A0909;
    --color8: #242424;
    --color9: #1F1F1F;
    --color10: #E8D2ABC2;
    --color11: #0E0E0E;
    --color12: #FFFFFF;
    --color13: #171717;
    --color14: #E8D2ABC2;

}

body {
    position: relative;
    width: 960px;
    height: 1100px;
    background: var(--color13);
    margin-left: 170px;
    margin-right: 115px;
}

.logo {
    margin-top: 46px;
    background: url(СК_ИНФРАСТРУКТУРА_logo_2.png);
}

.call {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--color4);
    text-decoration: none;
    border: 1px solid var(--color4);
    padding: 10px;
    margin-left: 560px;
}

.title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    margin-top: 100px;
    color: var(--color12);
}

.descreption {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
    width: 900px;
    color: var(--color12);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    width: 300px;
    height: 290px;
    justify-items: center;
    border: 10px solid var(--color13);
}

.item1 {
    display: grid;
    color: var(--color12);
    background-color: var(--color1);
    grid-column: 1 / 2;
    width: 305px;
    height: 290px;
    column-gap: 10px;
    row-gap: 10px;
    border: 10px solid var(--color13);

}

.item2 {
    display: grid;
    color: var(--color12);
    background-color: var(--color2);
    grid-column: 2/ 3;
    width: 305px;
    height: 290px;
    border: 10px solid var(--color13);

}

.item3 {
    display: grid;
    color: var(--color12);
    background-color: var(--color4);
    grid-column: 3/ 4;
    border: 10px solid var(--color13);
    width: 305px;
    height: 290px;

}

.item4 {
    display: grid;
    color: var(--color12);
    background-color: var(--color5);
    grid-column: 1/ 2;
    width: 465px;
    height: 290px;
    border: 10px solid var(--color13);
}

.item5 {
    display: block;
    color: var(--color12);
    background-color: var(--color6);
    grid-column: 2/ 3;
    width: 465px;
    height: 290px;
    border: 10px solid var(--color13);
}

.item-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 70px;
}

.car-container {
    background-color: var(--color13);
}

.car-list {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    flex-direction: column;
    height: 610px;
    gap: 30px
}


.car-item {
    width: 315px; 

}

.car1 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 180px;
    left: 22px;
    top: 1128px;
    background-color: var(--color11);
}

.car2 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 296px;
    left: 345px;
    top: 1128px;
    background-color: var(--color8);
}

.car3 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 178px;
    left: 668px;
    top: 1128px;
    background-color: var(--color9);
}

.car4 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 389px;
    left: 22px;
    top: 1343px;
    background-color: var(--color9);
}

.car5 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 271px;
    left: 345px;
    top: 1460px;
    background-color: var(--color4);
}

.car6 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 178px;
    left: 668px;
    top: 1340px;
    background-color: var(--color11);
}

.car7 {
    position: absolute;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    padding-left: 19px;
    padding-top: 20px;
    width: 289px;
    height: 180px;
    left: 668px;
    top: 1552px;
    background-color: var(--color7);
}

.bold{
    display: block;
}
.subtitles {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--color12);
}

.clients {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-items: center;
    margin-bottom: 238px;
    justify-content: center;
}

.item-client1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 315px;
    background-color: var(--color1);
}

.item-client2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color14);
    width: 320px;
    height: 315px;
}

.item-client3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    width: 320px;
    height: 315px;
}

.item-client4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    width: 320px;
    height: 315px;
}

.item-client5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color6);
    width: 320px;
    height: 315px;
}

.item-client6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    width: 320px;
    height: 315px;
}

.projects {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--color4);
    text-decoration: none;
    border: 1px solid var(--color4);
    padding: 10px;
    margin-left: 350px;
}

.box-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    line-height: 28px;
    text-align: center;
    color: var(--color12);
}