.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    margin-left: 98px;
    color: #000000;
}

.blue {
    color: #4bcaff;
}

.conteiner {
    width: 1280px;
    margin: auto;
    margin-top: 40px;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.top-menu {
    display: flex;
    height: 69px;
}

.top-menu-list {
    display: flex;
    flex-wrap: nowrap;
    width: 1280px;
    height: 69px;
    align-items: center;
    justify-content: center;
}

.top-menu-link {
    display: flex;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.link {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

.hover1 {
    background: #222F3A;
}

.content {
    display: flex;
}

.menu-photo {
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    padding: auto;
}

.nav-list {
    display: flex;
    margin-bottom: 583px;
}

.left-menu-list {
    width: 344px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin-top: 49px;
    padding: auto;
}

.left-menu-link {
    display: flex;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: #485863;
}

.hover2 {
    color: #000000;
    background: #DBDBDB;
    height: 81px;
    width: 342px;
    justify-content: center;
    align-items: center;
}

.png {
    margin-top: 49px;
    margin-left: 52px;
}

.photo {
    margin: auto;
    border: 1px solid #000000;
    padding: 90px 270px;
}
 
.text {
    line-height: 24px;
    display: flex;
    margin-top: 37px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
    justify-content: left;
    margin-right: 37px;
}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    ;
    margin-top: -54px;
}

.footer-menu {
    display: flex;
    height: 69px;
}

.nav-footer-list {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    align-content: center;
    justify-items: space-around;
}

.footer-list {
    display: flex;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    margin: auto;
    padding: 0 30px;
}

.footer-nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
}

.hover3 {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    display: flex;
    margin-left: 135px;
    align-items: center;
}